@model ControlDeTareasWeb.Negocio.Empleado

@{
    ViewBag.Title = "CreateProceso";
    Layout = "~/Views/Shared/_EmpresaLayout.cshtml";
}

<h2>Crear Empleado</h2>

@using (Html.BeginForm())
{
    <div class="container m-2">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col bg-light rounded">
                <form>
                    <div class="form-group m-1">
                        @Html.LabelFor(p => p.id_rut, "RUT")
                        @Html.TextBoxFor(p => p.id_rut, new { @class = "form-control m-1", required = "required" })
                    </div>
                    <div class="form-group m-1">
                        @Html.LabelFor(p => p.id_rol_emp, "Rol")
                        @Html.DropDownListFor(p => p.id_rol_emp, new SelectList(ViewBag.rol, "id_rol", "nombre_rol"), new { @class = "form-control m-1" })
                    </div>
                    <div class="form-group m-1">
                        @Html.LabelFor(p => p.fecha_ingreso, "Fecha Ingreso")
                        @Html.TextBoxFor(p => p.fecha_ingreso, new { @class = "form-control m-1", required = "required" })
                    </div>
                    <div class="form-group m-1">
                        @Html.LabelFor(p => p.nombre_emp, "Nombre Empleado")
                        @Html.TextBoxFor(p => p.nombre_emp, new { @class = "form-control m-1", required = "required" })
                    </div>
                    <div class="form-group m-1">
                        @Html.LabelFor(p => p.usuario, "Usuario")
                        @Html.TextBoxFor(p => p.usuario, new { @class = "form-control m-1", required="required" })
                    </div>
                    <div class="form-group m-1">
                        @Html.LabelFor(p => p.clave, "Clave")
                        @Html.TextBoxFor(p => p.clave, new { @class = "form-control m-1", required = "required" })
                    </div>
                    <button class="btn btn-primary m-2 w-100">Guardar</button>
                </form>
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>

    
}

@TempData["mensaje"]