@model ControlDeTareasWeb.Negocio.Proceso

@{
    ViewBag.Title = "CreateProceso";
    Layout = "~/Views/Shared/_EmpresaLayout.cshtml";
}

<h2>CreateProceso</h2>

@using (Html.BeginForm())
{

    @Html.LabelFor(p => p.id_estado_pro)
    @Html.TextBoxFor(p => p.id_estado_pro)
    <br />
    @Html.LabelFor(p => p.id_empresa_pro)
    @Html.TextBoxFor(p => p.id_empresa_pro)
    <br />
    @Html.LabelFor(p => p.nombre_proceso)
    @Html.TextBoxFor(p => p.nombre_proceso)
    <br />
    @Html.LabelFor(p => p.fecha_inicio)
    @Html.TextBoxFor(p => p.fecha_inicio)
    <br />
    @Html.LabelFor(p => p.fecha_termino)
    @Html.TextBoxFor(p => p.fecha_termino)
    <br />

    <button>Guardar</button>
}
@TempData["mensaje"]