@model ControlDeTareasWeb.Negocio.Proceso

@{
    ViewBag.Title = "CreateProceso";
    Layout = "~/Views/Shared/_EmpresaLayout.cshtml";
}

<h2>CreateProceso</h2>

@using (Html.BeginForm())
{
    <div id="contenedor">
        <div class="column">
            @Html.LabelFor(p => p.id_estado_pro, "Estado")
            <br />
            @Html.LabelFor(p => p.id_empresa_pro, "Empresa")
            <br />
            @Html.LabelFor(p => p.nombre_proceso, "Nombre Proceso")
            <br />
            @Html.LabelFor(p => p.fecha_inicio, "Fecha Inicio")
            <br />
            @Html.LabelFor(p => p.fecha_termino, "Fecha Termino")
            <br />
        </div>
        <div class="column">
            @Html.DropDownListFor(p => p.id_estado_pro, new SelectList(ViewBag.estado, "id_estado", "nombre_estado"))
            <br />
            @Html.DropDownListFor(p => p.id_empresa_pro, new SelectList(ViewBag.empresa, "id_empresa", "nombre_empresa"))
            <br />
            @Html.TextBoxFor(p => p.nombre_proceso)
            <br />
            @Html.TextBoxFor(p => p.fecha_inicio)
            <br />
            @Html.TextBoxFor(p => p.fecha_termino)
            <br />
            <button>Guardar</button>
        </div>
    </div>

}
