@model ControlDeTareasWeb.Negocio.DetalleTarea

@{
    ViewBag.Title = "MostrarFlujo";
    Layout = "~/Views/Shared/_EmpresaLayout.cshtml";
}

<h2>Crear Flujo</h2>

@using (Html.BeginForm())
{
    <div class="container m-2">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col bg-light rounded">
                <form>
                    <div class="form-group m-1">
                        @Html.LabelFor(p => p.tarea.unidad.id_proceso_uni, "Proceso")
                        @Html.DropDownListFor(p => p.tarea.unidad.id_proceso_uni, new SelectList(ViewBag.procesos, "id_proceso", "nombre_proceso"), new { @class = "form-control m-1" })
                    </div>
                    <div class="form-group m-1">
                        @Html.LabelFor(p => p.tarea.id_unidad_tarea, "Unidad")
                        @Html.DropDownListFor(p => p.tarea.unidad.nombre_unidad, new SelectList(ViewBag.unidad, "id_unidad", "nombre_unidad"), new { @class = "form-control m-1" })
                    </div>
                    <div class="form-group m-1">
                        @Html.LabelFor(p => p.tarea.id_unidad_tarea, "Tarea")
                        @Html.DropDownListFor(p => p.id_tarea_detalle, new SelectList(ViewBag.tareas, "id_tarea", "nombre_tarea"), new { @class = "form-control m-1" })
                    </div>
                    <div class="form-group m-1">
                        @Html.LabelFor(p => p.empleado.nombre_emp, "Empleado")
                        @Html.DropDownListFor(p => p.id_rut_detalle, new SelectList(ViewBag.empleados, "id_rut", "nombre_emp"), new { @class = "form-control m-1" })
                    </div>
                    <button class="btn btn-primary m-2 w-100">Guardar</button>
                </form>
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
}